@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url('assets/Lato-Regular.ttf') format('truetype');
  src: url('assets/Lato-Bold.ttf') format('truetype');
}
